.login-container{
    background-color: #100F49;
    background-image: url('/public/img/login/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    max-width: 390px;
    width: 100%;
}
.login-form form{
    display: flex;
    flex-direction: column;
}
.form-row{
    display: flex;
    justify-content: space-between;
}
.link{
    color: #C5C4EE;
}
.br-text{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.br-text::before{
    content: '';
    width: 40%;
    background-color: white;
    height: 2px;
    display: block;
}
.br-text::after{
    content: '';
    width: 40%;
    background-color: white;
    height: 2px;
    display: block;
}
.social-btn{
    padding: 10px 15px;
    border-radius: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;
}
.social-btn:hover{
    opacity: 75%;
}
.facebook{
    background-color: #1877F2;
}
.google{
    background-color: #FFFFFF;
}
.apple{
    background-color: #232323;
}
.icon{
    font-size: 20px;
}

@media screen and (max-width: 440px) {
    .login-form{
        max-width: unset;
        width: 90%;
    }
    .account-links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}