.open-side-menu{
    display: none;
}

.navbar{
    height: 65px;
    border-bottom: 1px solid #00000010;
    background-color: white;
    
    position: fixed;
    top: 0;
    right: 0;

    width: calc(100% - 250px);

    box-sizing: border-box;
    padding: 10px 25px;

    z-index: 999;
}
.navbar-user-image{
    width: 35px;
    height: 35px;
}
.navbar-user-dropdown{
    display: flex;
    align-items: center;
    gap: 10px;
}
@media screen and (max-width: 1025px) {
    .navbar{
        width: calc(100% - 70px);
    }
}
@media screen and (max-width: 560px) {
    .navbar{
        width: 100%;
    }
    .open-side-menu{
        display: block;
    }    
}